<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcy.datamanage.biz.mapper.DataAssessExtendMsgMapper">

    <insert id="replace" parameterType="com.dcy.datamanage.api.model.DataAssessExtendMsg">
        REPLACE INTO data_assess_extend_msg (id,data_source_id,`table_name`,update_time)
        VALUES
            (#{id},#{dataSourceId},#{tableName},#{updateTime})
    </insert>

</mapper>
