@font-face {
  font-family: 'youshe';
  src: url('../assets//font/youshe.ttf');
}

@font-face {
  font-family: 'pangmen';
  src: url('../assets//font/pangmen.ttf');
}

@font-face {
  font-family: 'pangmen3';
  src: url('../assets//font/pangmen3.ttf');
}

@font-face {
  font-family: 'hanyi';
  src: url('../assets//font/hanyi.ttf');
}

@font-face {
  font-family: 'manrope';
  src: url('../assets//font/manrope.otf');
}