<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygkj.digitization.mapper.AttStBaseMapper">

    <resultMap id="BaseResultMap" type="com.ygkj.digitization.model.AttStBase" >
        <result column="st_code" property="stCode" />
        <result column="st_name" property="stName" />
        <result column="st_type" property="stType" />
        <result column="st_long" property="stLong" />
        <result column="st_lat" property="stLat" />
        <result column="st_loc" property="stLoc" />
        <result column="st_year_mon" property="stYearMon" />
        <result column="beg_repo_year_mon" property="begRepoYearMon" />
        <result column="bank" property="bank" />
        <result column="st_dir" property="stDir" />
        <result column="cat_area" property="catArea" />
        <result column="moni_item" property="moniItem" />
        <result column="dtm_name" property="dtmName" />
        <result column="dtm_elev" property="dtmElev" />
        <result column="types" property="types" />
        <result column="attr" property="attr" />
        <result column="staff" property="staff" />
        <result column="estuary_distance" property="estuaryDistance" />
        <result column="obs_env" property="obsEnv" />
        <result column="river_state" property="riverState" />
        <result column="note" property="note" />
        <result column="eff_date" property="effDate" />
        <result column="expr_date" property="exprDate" />
        <result column="limit_level" property="limitLevel" />
        <result column="guarantee_level" property="guaranteeLevel" />
        <result column="warning_level" property="warningLevel" />
        <result column="proj_code" property="projCode" />
        <result column="area_code" property="areaCode" />
        <result column="is_reservoir_surface_rain_station" property="isReservoirSurfaceRainStation"/>
    </resultMap>

    <sql id="Base_Column_List">
                a.st_code,
                a.st_name,
                a.st_type,
                a.st_long,
                a.st_lat,
                a.st_loc,
                a.st_year_mon,
                a.beg_repo_year_mon,
                a.bank,
                a.st_dir,
                a.cat_area,
                a.moni_item,
                a.dtm_name,
                a.dtm_elev,
                a.types,
                a.attr,
                a.staff,
                a.estuary_distance,
                a.obs_env,
                a.river_state,
                a.note,
                a.eff_date,
                a.expr_date,
                a.limit_level,
                a.guarantee_level,
                a.warning_level,
                a.proj_code,
                a.area_code,
                a.area_code,c.adnm area_name
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.ygkj.digitization.model.AttStBase">
        INSERT INTO att_st_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != stCode'>
                st_code,
            </if>
            <if test ='null != stName'>
                st_name,
            </if>
            <if test ='null != stType'>
                st_type,
            </if>
            <if test ='null != stLong'>
                st_long,
            </if>
            <if test ='null != stLat'>
                st_lat,
            </if>
            <if test ='null != stLoc'>
                st_loc,
            </if>
            <if test ='null != stYearMon'>
                st_year_mon,
            </if>
            <if test ='null != begRepoYearMon'>
                beg_repo_year_mon,
            </if>
            <if test ='null != bank'>
                bank,
            </if>
            <if test ='null != stDir'>
                st_dir,
            </if>
            <if test ='null != catArea'>
                cat_area,
            </if>
            <if test ='null != moniItem'>
                moni_item,
            </if>
            <if test ='null != dtmName'>
                dtm_name,
            </if>
            <if test ='null != dtmElev'>
                dtm_elev,
            </if>
            <if test ='null != types'>
                types,
            </if>
            <if test ='null != attr'>
                attr,
            </if>
            <if test ='null != staff'>
                staff,
            </if>
            <if test ='null != estuaryDistance'>
                estuary_distance,
            </if>
            <if test ='null != obsEnv'>
                obs_env,
            </if>
            <if test ='null != riverState'>
                river_state,
            </if>
            <if test ='null != note'>
                note,
            </if>
            <if test ='null != effDate'>
                eff_date,
            </if>
            <if test ='null != exprDate'>
                expr_date,
            </if>
            <if test ='null != limitLevel'>
                limit_level,
            </if>
            <if test ='null != guaranteeLevel'>
                guarantee_level,
            </if>
            <if test ='null != warningLevel'>
                warning_level,
            </if>
            <if test ='null != projCode'>
                proj_code,
            </if>
            <if test ='null != areaCode'>
                area_code
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != stCode'>
                #{stCode},
            </if>
            <if test ='null != stName'>
                #{stName},
            </if>
            <if test ='null != stType'>
                #{stType},
            </if>
            <if test ='null != stLong'>
                #{stLong},
            </if>
            <if test ='null != stLat'>
                #{stLat},
            </if>
            <if test ='null != stLoc'>
                #{stLoc},
            </if>
            <if test ='null != stYearMon'>
                #{stYearMon},
            </if>
            <if test ='null != begRepoYearMon'>
                #{begRepoYearMon},
            </if>
            <if test ='null != bank'>
                #{bank},
            </if>
            <if test ='null != stDir'>
                #{stDir},
            </if>
            <if test ='null != catArea'>
                #{catArea},
            </if>
            <if test ='null != moniItem'>
                #{moniItem},
            </if>
            <if test ='null != dtmName'>
                #{dtmName},
            </if>
            <if test ='null != dtmElev'>
                #{dtmElev},
            </if>
            <if test ='null != types'>
                #{types},
            </if>
            <if test ='null != attr'>
                #{attr},
            </if>
            <if test ='null != staff'>
                #{staff},
            </if>
            <if test ='null != estuaryDistance'>
                #{estuaryDistance},
            </if>
            <if test ='null != obsEnv'>
                #{obsEnv},
            </if>
            <if test ='null != riverState'>
                #{riverState},
            </if>
            <if test ='null != note'>
                #{note},
            </if>
            <if test ='null != effDate'>
                #{effDate},
            </if>
            <if test ='null != exprDate'>
                #{exprDate},
            </if>
            <if test ='null != limitLevel'>
                #{limitLevel},
            </if>
            <if test ='null != guaranteeLevel'>
                #{guaranteeLevel},
            </if>
            <if test ='null != warningLevel'>
                #{warningLevel},
            </if>
            <if test ='null != projCode'>
                #{projCode},
            </if>
            <if test ='null != areaCode'>
                #{areaCode}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM att_st_base
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.ygkj.digitization.model.AttStBase">
        UPDATE att_st_base
        <set>
            <if test ='null != stName'>st_name = #{stName},</if>
            <if test ='null != stType'>st_type = #{stType},</if>
            <if test ='null != stLong'>st_long = #{stLong},</if>
            <if test ='null != stLat'>st_lat = #{stLat},</if>
            <if test ='null != stLoc'>st_loc = #{stLoc},</if>
            <if test ='null != stYearMon'>st_year_mon = #{stYearMon},</if>
            <if test ='null != begRepoYearMon'>beg_repo_year_mon = #{begRepoYearMon},</if>
            <if test ='null != bank'>bank = #{bank},</if>
            <if test ='null != stDir'>st_dir = #{stDir},</if>
            <if test ='null != catArea'>cat_area = #{catArea},</if>
            <if test ='null != moniItem'>moni_item = #{moniItem},</if>
            <if test ='null != dtmName'>dtm_name = #{dtmName},</if>
            <if test ='null != dtmElev'>dtm_elev = #{dtmElev},</if>
            <if test ='null != types'>types = #{types},</if>
            <if test ='null != attr'>attr = #{attr},</if>
            <if test ='null != staff'>staff = #{staff},</if>
            <if test ='null != estuaryDistance'>estuary_distance = #{estuaryDistance},</if>
            <if test ='null != obsEnv'>obs_env = #{obsEnv},</if>
            <if test ='null != riverState'>river_state = #{riverState},</if>
            <if test ='null != note'>note = #{note},</if>
            <if test ='null != effDate'>eff_date = #{effDate},</if>
            <if test ='null != exprDate'>expr_date = #{exprDate},</if>
            <if test ='null != limitLevel'>limit_level = #{limitLevel},</if>
            <if test ='null != guaranteeLevel'>guarantee_level = #{guaranteeLevel},</if>
            <if test ='null != warningLevel'>warning_level = #{warningLevel},</if>
            <if test ='null != projCode'>proj_code = #{projCode},</if>
            <if test ='null != areaCode'>area_code = #{areaCode},</if>
            <if test ='null != isFocus'>is_focus = #{isFocus},</if>
            <if test ='null != display'>display = #{display},</if>
            <if test ='null != isReservoirSurfaceRainStation'>is_reservoir_surface_rain_station = #{isReservoirSurfaceRainStation}</if>
        </set>
        WHERE FIND_IN_SET(st_code,#{stCode})
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT *
        FROM att_st_base
        WHERE st_code = #{stCode}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM att_st_base
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM att_st_base
    </select>

    <select id="selectByCondition" resultType="com.ygkj.digitization.vo.response.RainfallStationResVo">
        SELECT a.st_code,a.st_name,a.area_code,a.is_focus,a.display,a.proj_code,a.is_reservoir_surface_rain_station,b.adnm AS area_name
        FROM att_st_base a
        LEFT JOIN att_adcd_base b ON a.area_code = b.adcd
        <if test="riverStationType != null and riverStationType == '平原河网'">
            LEFT JOIN att_rn_base c ON a.st_code = c.main_st_code
        </if>
        <if test="riverStationType != null and riverStationType == '山区河道'">
            LEFT JOIN att_st_mark_base c ON a.st_code = c.st_code
        </if>
        <where>
            <if test="stationName != null and stationName != ''">
                AND a.st_name LIKE CONCAT('%',#{stationName},'%')
            </if>
            <if test="areaCode != null and areaCode != ''">
                AND FIND_IN_SET (b.adcd,#{areaCode})
            </if>
            <if test="stationType != null and stationType != ''">
                <choose>
                    <when test="stationType == 'PP'">
                        AND a.is_rain_station = 1
                    </when>
                    <otherwise>
                        AND a.st_type = #{stationType}
                    </otherwise>
                </choose>
            </if>
            <if test="stationCode != null and stationCode != ''">
                AND FIND_IN_SET(a.st_code,#{stationCode})
            </if>
            <if test="projectCode != null and projectCode != ''">
                AND a.proj_code = #{projectCode}
            </if>
            <if test="isFocus != null">
                <choose>
                    <when test="isFocus == true">
                        AND is_focus = 1
                    </when>
                    <otherwise>
                        AND is_focus = 0
                    </otherwise>
                </choose>
            </if>
            <if test="display != null">
                <choose>
                    <when test="display == true">
                        AND display = 1
                    </when>
                    <otherwise>
                        AND display = 0
                    </otherwise>
                </choose>
            </if>
            <if test="riverStationType != null and riverStationType != ''">
                <choose>
                    <when test="riverStationType == '平原河网'">
                        AND c.main_st_name IS NOT NULL
                    </when>
                    <when test="riverStationType == '山区河道'">
                        AND c.mark = '山区河道'
                    </when>
                    <when test="riverStationType == '其他'">
                        AND (c.mark &lt;&gt; '山区河道' AND d.main_st_name IS NULL)
                    </when>
                </choose>
            </if>
            AND a.del_flag = 0
        </where>
    </select>

    <select id="selectWaterLevelStationByCondition" resultType="com.ygkj.digitization.vo.response.WaterLevelStationResVo">
        SELECT a.st_code,a.st_name,a.area_code,b.adnm AS area_name,a.proj_code as project_code
        FROM att_st_base a
        LEFT JOIN att_adcd_base b ON a.area_code = b.adcd
        <where>
            <if test="stationName != null and stationName != ''">
                AND a.st_name LIKE CONCAT('%',#{stationName},'%')
            </if>
            <if test="areaCode != null and areaCode != ''">
                AND FIND_IN_SET(a.area_code,#{areaCode})
            </if>
            <if test="stationType != null and stationType != ''">
                AND FIND_IN_SET(a.st_type,#{stationType})
            </if>
        </where>
    </select>

    <select id="gateStations" resultType="com.ygkj.digitization.vo.response.GateStationResVo">
        SELECT a.st_name AS name,a.st_code AS code,a.area_code, a.warning_level, c.adnm area_name
        FROM att_st_base a
        LEFT JOIN att_real_all_project_base b on a.proj_code = b.project_code
        LEFT JOIN att_adcd_base c ON a.area_code = c.adcd
        <where>
            <if test="stationType != null and stationType != ''">
                AND FIND_IN_SET(b.project_type,#{stationType})
            </if>
            <if test="stationName != null and stationName != ''">
                AND a.st_name LIKE CONCAT('%',#{stationType},'%')
            </if>
            <if test="areaCode != null and areaCode != ''">
                AND a.area_code = #{areaCode}
            </if>
        </where>
    </select>

    <select id="selectByStCodeList" resultMap="BaseResultMap">
        select a.*,c.adnm area_name from att_st_base a
        LEFT JOIN att_adcd_base c ON a.area_code = c.adcd
        <if test="stCodeList != null and stCodeList.size !=0">
            where a.st_code in
            <foreach collection="stCodeList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="selectByConditionT" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM att_st_base a
        LEFT JOIN att_adcd_base c ON a.area_code = c.adcd
        <where>
            <if test="projectCodes != null and projectCodes != ''">
                AND FIND_IN_SET(a.proj_code,#{projectCodes})
            </if>
            <if test="stationType != null and stationType != ''">
                AND FIND_IN_SET(a.st_type,#{stationType})
            </if>
            <if test="stationCodes != null and stationCodes != ''">
                AND FIND_IN_SET(a.st_code,#{stationCodes})
            </if>
            <if test="stationName != null and stationName != ''">
                AND a.st_name LIKE CONCAT('%',#{stationName},'%')
            </if>
            <if test="areaCode != null and areaCode != ''">
                AND a.area_code LIKE CONCAT('%',#{areaCode},'%')
            </if>
            <if test="bas != null and bas != ''">
                AND a.bas = #{bas}
            </if>
            <if test="resGrade != null and resGrade != ''">
                AND a.res_grade = #{resGrade}
            </if>
            <if test="isRainStation != null and isRainStation == true">
                AND a.is_rain_station = 1
            </if>
            <if test="isSurfaceRainStation != null and isSurfaceRainStation == true">
                AND a.is_surface_rain_station = 1
            </if>
            <if test="isReservoirSurfaceRainStation != null and isReservoirSurfaceRainStation == true">
                AND a.is_reservoir_surface_rain_station = 1
            </if>
        </where>
    </select>

    <select id="selectStationByCondition" resultType="com.ygkj.gragh.model.AttStBase">
        SELECT *
        FROM att_st_base
        <where>
            <if test="projectCodes != null and projectCodes != ''">
                AND FIND_IN_SET(proj_code,#{projectCodes})
            </if>
            <if test="stationType != null and stationType != ''">
                AND FIND_IN_SET(st_type,#{stationType})
            </if>
            <if test="stationCodes != null and stationCodes != ''">
                AND FIND_IN_SET(st_code,#{stationCodes})
            </if>
            <if test="stationName != null and stationName != ''">
                AND st_name LIKE CONCAT('%',#{stationName},'%')
            </if>
            <if test="areaCode != null and areaCode != ''">
                AND area_code LIKE CONCAT('%',#{areaCode},'%')
            </if>
            <if test="bas != null and bas != ''">
                AND bas = #{bas}
            </if>
            <if test="resGrade != null and resGrade != ''">
                AND res_grade = #{resGrade}
            </if>
            <if test="isRainStation != null and isRainStation == true">
                AND is_rain_station = 1
            </if>
            <if test="isSurfaceRainStation != null and isSurfaceRainStation == true">
                AND is_surface_rain_station = 1
            </if>
            <if test="isReservoirSurfaceRainStation != null and isReservoirSurfaceRainStation == true">
                AND is_reservoir_surface_rain_station = 1
            </if>
        </where>
    </select>

    <select id="selectZqCurveByStcdLnnm" resultType="com.ygkj.gragh.model.StZqrlB">
        select mgstcd,lnnm,z,q from st_zqrl_b
        <where>
            <if test="param!=null and param.size!=0">
                and (
                <foreach collection="param" open="(" close=")" separator=" or " item="value" index="key">
                    mgstcd=#{key} and lnnm=#{value}
                </foreach>
                )
            </if>
        </where>
    </select>

    <select id="selectRnByCondition" resultType="com.ygkj.gragh.model.AttRnBase">
        select * from att_rn_base
        <where>
            <if test="true">
                and del_flag=0
            </if>
            <if test="rnName!=null and rnName!=''">
                AND rn_name like concat('%',#{rnName},'%')
            </if>
            <if test="mainStName!=null and mainStName!=''">
                AND main_st_name like concat('%',#{mainStName},'%')
            </if>
            <if test="bas!=null and bas!=''">
                AND bas like concat('%',#{bas},'%')
            </if>
            <if test="adcd!=null and adcd!=''">
                AND area_code like concat(substr(#{adcd},1,6),'%')
            </if>
        </where>
    </select>

    <select id="assoStationReservoirList" resultType="com.ygkj.digitization.vo.response.AssoStationReservoirRespVo">
        SELECT (#{projCode} &lt;=&gt; asb.proj_code) bandFlag,asb.* FROM `att_st_base` asb
        where asb.del_flag = 0 AND FIND_IN_SET(asb.st_type,'RR') ORDER BY bandFlag desc
    </select>


    <update id="batchUpdate">
        UPDATE att_st_base set display = #{disPlay},is_surface_rain_station = #{disPlay}
        WHERE st_code in
            <foreach collection="stationCodes" item="stationCode" open="(" close=")" separator=",">
                #{stationCode}
            </foreach>
    </update>

    <select id="selectSectFlowByCondition" resultType="com.ygkj.digitization.vo.response.SectFlowResVo">
        select a.*,b.st_long,b.st_lat from att_sf_base as a
        left join att_st_base as b
        on a.main_st_code=b.st_code
        <where>
            <if test="true">
                and a.del_flag=0
            </if>
            <if test="bas!=null and bas!=''">
                and a.bas=#{bas}
            </if>
            <if test="sectName!=null and sectName!=''">
                and a.sect_name like concat('%',#{sectName},'%')
            </if>
        </where>
    </select>

    <select id="unBindStationCodes" resultType="com.ygkj.gragh.model.AttStBase">
        SELECT * from att_st_base WHERE del_flag = 0 AND st_type = 'RR' AND (proj_code IS NULL OR proj_code = '')
        <if test="mainStationCodes != null and mainStationCodes.size() > 0">
            AND st_code NOT IN (
            <foreach collection="mainStationCodes" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
    </select>

</mapper>