{
    "presets": [
        [
            // @babel/preset-env ES6到ES5的代码转换
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        ">1%"
                    ]
                }
            },
            {
                // 仅polyfill使用过的ES6语法 缩小打包体积
                "useBuiltIns": "usage"
            }
        ]
    ]
    // plugins: ['@babel/plugin-transform-runtime', '@babel/plugin-proposal-class-properties']
}