<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygkj.river.mapper.AttPpspBaseMapper">

    <select id="loadPage" resultType="com.ygkj.river.vo.response.AttPpspBaseRespVo">
        SELECT tbl.* FROM `att_ppsp_base` tbl WHERE tbl.del_flag = 0
    </select>

</mapper>