<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygkj.river.mapper.AttRvmlBaseMapper">

    <resultMap id="BaseResultMap" type="com.ygkj.river.model.AttRvmlBase">
        <result column="fid" property="fid"/>
        <result column="code" property="code"/>
        <result column="geometry" property="geometry"/>
        <result column="create_time" property="createTime"/>
        <result column="create_id" property="createId"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_id" property="updateId"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        fid,
        code,
        geometry,
        create_time,
        create_id,
        update_time,
        update_id,
        del_flag
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.ygkj.river.model.AttRvmlBase">
        INSERT INTO att_rvml_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test='null != fid'>
                fid,
            </if>
            <if test='null != code'>
                code,
            </if>
            <if test='null != geometry'>
                geometry,
            </if>
            <if test='null != createTime'>
                create_time,
            </if>
            <if test='null != createId'>
                create_id,
            </if>
            <if test='null != updateTime'>
                update_time,
            </if>
            <if test='null != updateId'>
                update_id,
            </if>
            <if test='null != delFlag'>
                del_flag
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='null != fid'>
                #{fid},
            </if>
            <if test='null != code'>
                #{code},
            </if>
            <if test='null != geometry'>
                #{geometry},
            </if>
            <if test='null != createTime'>
                #{createTime},
            </if>
            <if test='null != createId'>
                #{createId},
            </if>
            <if test='null != updateTime'>
                #{updateTime},
            </if>
            <if test='null != updateId'>
                #{updateId},
            </if>
            <if test='null != delFlag'>
                #{delFlag}
            </if>
        </trim>
    </insert>

    <select id="loadPage" resultType="com.ygkj.river.vo.response.AttRvmlBaseRespVo">
        SELECT tbl.* FROM `att_rvml_base` tbl WHERE tbl.del_flag = 0
    </select>


</mapper>