<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygkj.big.screen.mapper.WaterResourceBulletinMapper">

    <select id="selectWrbRainfall" resultType="com.ygkj.big.screen.model.WrbRainfall">
        select * from wrb_rainfall
        <where>
            <if test="year!=null">
                and year=#{year}
            </if>
            <if test="adcd!=null and adcd!=''">
                and adcd=#{adcd}
            </if>
        </where>
        ORDER BY FIELD(CONCAT(SUBSTR( `adcd` from 1 for
        6),'000000'),'330383000000','330327000000','330329000000','330326000000','330328000000','330324000000','330381000000','330382000000','330322000000','330304000000','330303000000','330302000000','330301000000','330300000000')
        desc
    </select>

    <select id="selectWrbReducedWater" resultType="com.ygkj.big.screen.model.WrbReducedWater">
        select * from wrb_reduced_water
        <where>
            <if test="year!=null">
                and year=#{year}
            </if>
        </where>
    </select>

    <select id="selectWrbStoreRsvr" resultType="com.ygkj.big.screen.model.WrbStoreRsvr">
        select * from wrb_store_rsvr
        <where>
            <if test="year!=null">
                and year=#{year}
            </if>
            <if test="resCode!=null and resCode!=''">
                and res_code=#{resCode}
            </if>
        </where>
    </select>

    <select id="selectWrbWaterConsume" resultType="com.ygkj.big.screen.model.WrbWaterConsume">
        select * from wrb_water_consume
        <where>
            <if test="year!=null">
                and year=#{year}
            </if>
            <if test="adcd!=null and adcd!=''">
                and adcd=#{adcd}
            </if>
        </where>
    </select>

    <select id="selectWrbWaterResource" resultType="com.ygkj.big.screen.model.WrbWaterResource">
        select * from wrb_water_resource
        <where>
            <if test="year!=null">
                and year=#{year}
            </if>
            <if test="adcd!=null and adcd!=''">
                and adcd=#{adcd}
            </if>
        </where>
    </select>

    <select id="selectWrbWaterSupply" resultType="com.ygkj.big.screen.model.WrbWaterSupply">
        select * from wrb_water_supply
        <where>
            <if test="year!=null">
                and year=#{year}
            </if>
        </where>
    </select>

    <select id="selectMaxYearByCondition" resultType="java.lang.Integer">
        select max(`year`)
        from ${table}
        <where>
            <if test="adcd!=null and adcd!=''">
                and adcd =#{adcd}
            </if>
        </where>
    </select>

</mapper>