<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygkj.gragh.mapper.AttBswqBaseMapper">

    <resultMap id="BaseResultMap" type="com.ygkj.gragh.model.AttBswqBase">
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="adcd" property="adcd"/>
        <result column="pm_limit" property="pmLimit"/>
        <result column="create_time" property="createTime"/>
        <result column="create_id" property="createId"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_id" property="updateId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <sql id="Base_Column_List">
        code,
        name,
        latitude,
        longitude,
        adcd,
        pm_limit,
        create_time,
        create_id,
        update_time,
        update_id,
        del_flag,
        dept_id
    </sql>

    <insert id="insert" parameterType="com.ygkj.gragh.model.AttBswqBase">
        INSERT INTO att_bswq_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test='null != code'>
                code,
            </if>
            <if test='null != name'>
                name,
            </if>
            <if test='null != latitude'>
                latitude,
            </if>
            <if test='null != longitude'>
                longitude,
            </if>
            <if test='null != adcd'>
                adcd,
            </if>
            <if test='null != pmLimit'>
                pm_limit,
            </if>
            <if test='null != createTime'>
                create_time,
            </if>
            <if test='null != createId'>
                create_id,
            </if>
            <if test='null != updateTime'>
                update_time,
            </if>
            <if test='null != updateId'>
                update_id,
            </if>
            <if test='null != delFlag'>
                del_flag,
            </if>
            <if test='null != deptId'>
                dept_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='null != code'>
                #{code},
            </if>
            <if test='null != name'>
                #{name},
            </if>
            <if test='null != latitude'>
                #{latitude},
            </if>
            <if test='null != longitude'>
                #{longitude},
            </if>
            <if test='null != adcd'>
                #{adcd},
            </if>
            <if test='null != pmLimit'>
                #{pmLimit},
            </if>
            <if test='null != createTime'>
                #{createTime},
            </if>
            <if test='null != createId'>
                #{createId},
            </if>
            <if test='null != updateTime'>
                #{updateTime},
            </if>
            <if test='null != updateId'>
                #{updateId},
            </if>
            <if test='null != delFlag'>
                #{delFlag},
            </if>
            <if test='null != deptId'>
                #{deptId}
            </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE
        FROM att_bswq_base
        WHERE code = #{code}
    </delete>

    <update id="update" parameterType="com.ygkj.gragh.model.AttBswqBase">
        UPDATE att_bswq_base
        <set>
            <if test='null != name'>name = #{name},</if>
            <if test='null != latitude'>latitude = #{latitude},</if>
            <if test='null != longitude'>longitude = #{longitude},</if>
            <if test='null != adcd'>adcd = #{adcd},</if>
            <if test='null != pmLimit'>pm_limit = #{pmLimit},</if>
            <if test='null != createTime'>create_time = #{createTime},</if>
            <if test='null != createId'>create_id = #{createId},</if>
            <if test='null != updateTime'>update_time = #{updateTime},</if>
            <if test='null != updateId'>update_id = #{updateId},</if>
            <if test='null != delFlag'>del_flag = #{delFlag},</if>
            <if test='null != deptId'>dept_id = #{deptId}</if>
        </set>
        WHERE code = #{code}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM att_bswq_base
        WHERE code = #{code}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM att_bswq_base
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM att_bswq_base
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM att_bswq_base where del_flag=0
        <if test="adcd !=null and adcd!='' and adcd.length>=6">
            and adcd = CONCAT(SUBSTR(#{adcd},1,6),'000000')
        </if>
        <if test="name !=null and name!=''">
            and name like CONCAT('%',#{name},'%')
        </if>
    </select>


    <resultMap id="BswqValResultMap" type="com.ygkj.gragh.vo.response.BswqResVo">
        <result column="code" property="code"/>
        <result column="time" property="time"/>
        <result column="pm" property="pm"/>
        <result column="do" property="do_"/>
        <result column="permanganate" property="permanganate"/>
        <result column="bod5" property="bod5"/>
    </resultMap>

    <select id="selectNewestValueByCode" resultMap="BswqValResultMap">
        select a.* from
        (select code,time,pm,do,permanganate,bod5
        from st_bswq_r
        <where>
            <if test="codes!=null and codes!=''">
                and FIND_IN_SET(code,#{codes})
            </if>
            <if test="true">
                and time >= DATE_SUB(NOW(),INTERVAL 10 MONTH )
            </if>
        </where>
        having 1 order by time desc )as a group by a.code
    </select>

    <select id="selectValueByCodeAndTime" resultMap="BswqValResultMap">
        select code,time,pm,do,permanganate,bod5
        from st_bswq_r
        <where>
            <if test="code!=null and code!=''">
                and code=#{code}
            </if>
            <if test="true">
                and time between #{start} and #{end}
            </if>
        </where>
        order by time asc
    </select>

    <select id="bswqRatio" resultType="com.ygkj.gragh.model.BswqRatio">
        select type,data_time,current_num,current_num_tb,current_num_hb
        from bswq_ratio
        <where>
            <if test="type!=null">
                and type=#{type}
            </if>
            <if test="start !=null and end !=null">
                and data_time between #{start} and #{end}
            </if>
        </where>
        order by data_time asc
    </select>

</mapper>