.icon-shuiyuandi {
  display: inline-block;
  width: 48px;
  height: 48px;
}
.icon-shuiyuandi-1 {
  background-image: url(~assets/images/shuiyuandi-1.png);
}
.icon-shuiyuandi-2 {
  background-image: url(~assets/images/shuiyuandi-2.png);
}
.icon-shuiyuandi-3 {
  background-image: url(~assets/images/shuiyuandi-3.png);
}
.icon-shuiyuandi-4 {
  background-image: url(~assets/images/shuiyuandi-4.png);
}
.icon-shuiyuandi-5 {
  background-image: url(~assets/images/shuiyuandi-5.png);
}
.icon-shuiyuandi-6 {
  background-image: url(~assets/images/shuiyuandi-6.png);
}
.icon-shuiyuandi-7 {
  background-image: url(~assets/images/shuiyuandi-7.png);
}
.icon-shuiyuandi-8 {
  background-image: url(~assets/images/shuiyuandi-8.png);
}

.sx-dialog-count-1 {
  background-image: url(~assets/images/sx-dialog-count-1.png);
}
.sx-dialog-count-2 {
  background-image: url(~assets/images/sx-dialog-count-2.png);
}
.sx-dialog-count-3 {
  background-image: url(~assets/images/sx-dialog-count-3.png);
}
.sx-dialog-count-4 {
  background-image: url(~assets/images/sx-dialog-count-4.png);
}
.sx-dialog-count-5 {
  background-image: url(~assets/images/sx-dialog-count-5.png);
}
.sx-dialog-count-6 {
  background-image: url(~assets/images/sx-dialog-count-6.png);
}

.qushuihu-dialog-count-1 {
  background-image: url(~assets/images/qushuihu-dialog-count-1.png);
}
.qushuihu-dialog-count-2 {
  background-image: url(~assets/images/qushuihu-dialog-count-2.png);
}
.qushuihu-dialog-count-3 {
  background-image: url(~assets/images/qushuihu-dialog-count-3.png);
}
.qushuihu-dialog-count-4 {
  background-image: url(~assets/images/qushuihu-dialog-count-4.png);
}

.phjg-dialog-count-1 {
  background-image: url(~assets/images/phjg-dialog-count-1.png);
}
.phjg-dialog-count-2 {
  background-image: url(~assets/images/phjg-dialog-count-2.png);
}
.phjg-dialog-count-3 {
  background-image: url(~assets/images/phjg-dialog-count-3.png);
}
.phjg-dialog-count-4 {
  background-image: url(~assets/images/phjg-dialog-count-4.png);
}

.sybh-dialog-count-1 {
  background-image: url(~assets/images/sybh-dialog-count-1.png);
}
.sybh-dialog-count-2 {
  background-image: url(~assets/images/sybh-dialog-count-2.png);
}
.sybh-dialog-count-3 {
  background-image: url(~assets/images/sybh-dialog-count-3.png);
}
.sybh-dialog-count-4 {
  background-image: url(~assets/images/sybh-dialog-count-4.png);
}

.qsl-dialog-count-1 {
  background-image: url(~assets/images/qsl-dialog-count-1.png);
}

.mlhh-dialog-count-1 {
  background-image: url(~assets/images/mlhh-dialog-count-1.png);
}
.mlhh-dialog-count-2 {
  background-image: url(~assets/images/mlhh-dialog-count-2.png);
}
.mlhh-dialog-count-3 {
  background-image: url(~assets/images/mlhh-dialog-count-3.png);
}
.mlhh-dialog-count-4 {
  background-image: url(~assets/images/mlhh-dialog-count-4.png);
}

.sdz-dialog-count-1 {
  background-image: url(~assets/images/sdz-dialog-count-1.png);
}

.hzxc-dialog-count-1 {
  background-image: url(~assets/images/hzxc-dialog-count-1.png);
}
.hzxc-dialog-count-2 {
  background-image: url(~assets/images/hzxc-dialog-count-2.png);
}
.hzxc-dialog-count-3 {
  background-image: url(~assets/images/hzxc-dialog-count-3.png);
}
.hzxc-dialog-count-4 {
  background-image: url(~assets/images/hzxc-dialog-count-4.png);
}
// 报警详表 统计图标
.icon-alarm-water {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  background-image: url(~assets/images/sx-zl-count-4.png);
}
.icon-alarm-seawall {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  background-image: url(~assets/images/alarm-seawall-1x.png);
}
.icon-alarm-rainfall {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  background-image: url(~assets/images/sx-zl-count-4.png);
}
.icon-alarm-taifeng {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  background-image: url(~assets/images/sx-zl-count-4.png);
}
.icon-alarm-run {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100%;
  background-image: url(~assets/images/sx-zl-count-4.png);
}
