$primaryColor:#48FFF4;
$primaryBorderColor:#3AB378;
$primaryListColor: #02c064;
$primaryColorLight:#a0f1ec;

$primaryTabActiveColor: #48FFF4;


//滑块颜色
$primarySliderColor:#00877a;

$primaryTabActiveColor: #48FFF4;
$primaryTabActiveColor: #48FFF4;
$primaryGradual: linear-gradient(180deg, #B4DD66 0%, #59C6B9 100%);
$warnGradual: linear-gradient(180deg, #FFC43C 0%, #EA3232 100%);
// 弹框
$primaryDialog: #328173;
$dialogBackground: #fff;
$dialogInputBackground: #F4F4F4;
$dialogInputBorder: #D8D8D8;
$dialogTabHeight: 28px;
$dialogTabWidth: 64px;
$dialogFontColor: #858585;
$dialogFooterBorder:#EEEEEE;
$dialogFooterHeight: 62px;
$dialogTableBg: #F9F9F9;

$listItemOpeateColor: #3ebeb6;
