@import "../style/theme.scss";
@import "./font.scss";

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /* font-weight: normal; */
  vertical-align: baseline;
  box-sizing: border-box;
  text-align: left;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Microsoft YaHei";
  font-size: 16px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  z-index: 10000;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {

  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 16px;
}

.btn {
  display: block;
  width: 93px;
  height: 40px;
  line-height: 44px;
  margin-left: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.ol-control {
  display: none;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: rgba(0, 0, 0, 0) !important;
}

.el-input__inner {
  height: 44px;
  background: rgba(0, 0, 0, 0.40);
  border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  border: 0;
}

.el-select .el-input__inner {
  border: 0;
}

.el-textarea .el-textarea__inner {
  font-family: Poppins-Regular;
  color: #333;
}

.el-table {
  background: rgba(0, 0, 0, 0);

  .el-table__row {
    &:hover {
      background: rgba(0, 0, 0, 0);
    }
  }

  &::before {
    height: 0;
  }
}

.el-table td,
.el-table th.is-leaf {
  border: none;
  ;
}

.el-table th {
  background: #328173;
}



.el-table tr {
  background-color: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0);
  }
}

.view-content .el-table tr {
  background-color: #f7f8f8;
}

.el-button--text,
.el-button--text:focus,
.el-button--text:hover {
  color: $primaryBorderColor;
}

.el-table th,
.el-table tr {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.el-table td {
  text-align: center;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  &:hover {
    background: rgba(0, 0, 0, 0.20);
  }

  background: rgba(0, 0, 0, 0.20);
}

.el-input.is-disabled .el-input__inner {
  background: rgba(0, 0, 0, 0.40);
}

.el-dialog__body {
  padding: 0;
}

.primary-long-btn {
  background-image: linear-gradient(270deg, #B9DE64 0%, #37BAAE 100%);
  border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  letter-spacing: 5px;
}

.typhoon-name {
  color: #fff;
}

.el-pagination button:disabled {
  background-color: rgba(0, 0, 0, 0);
}

// .el-dialog,
// .el-pager li {
//   background: rgba(0, 0, 0, 0);
//   color: #fff;
// }

.el-pagination .btn-next {
  background: center center no-repeat rgba(0, 0, 0, 0);
}

.el-pagination .btn-prev {
  background: center center no-repeat rgba(0, 0, 0, 0);
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  color: #fff;
}

.el-select-dropdown__item.selected {
  color: $primaryBorderColor;
}