.list-dialog .el-input-group__append {
  background-color: #F4F4F4;
  border-top: 0;
  border-right: 0;
}

.list-dialog .el-form-item__content {
  line-height: 1;
}

.list-dialog .el-date-editor.el-input,
.list-dialog .el-date-editor.el-input__inner {
  width: 100%;
}

.list-dialog .el-form-item {
  margin-bottom: 0;
}

.list-dialog .el-table--striped .el-table__body tr.el-table__row--striped td,
.list-dialog .el-table--striped .el-table__body tr.el-table__row--striped td:hover,
.list-dialog .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #F9F9F9 !important;
}

.list-dialog .el-checkbox__inner {
  border-color: #979797;
}

.list-dialog .el-checkbox__inner:hover {
  border-color: #328173;
}

.list-dialog .el-checkbox__input.is-checked .el-checkbox__inner,
.list-dialog .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #328173;
  border-color: #328173;
  color: #fff;
}

.list-dialog .green {
  color: #328173;
}

.list-dialog .el-dialog--center .el-dialog__body {
  padding: 0 15px 30px;
}

.list-dialog .el-dialog {
  background-color: #fff;
}

.list-dialog .el-dialog .item-label {
  font-size: 14px;
  color: #858585;
  margin-top: 24px;
  margin-bottom: 8px;
}

.list-dialog .el-dialog .el-select {
  width: 100%;
}

.list-dialog .el-dialog .el-input .el-input__inner {
  height: 40px;
}

.list-dialog .el-dialog .el-input .el-input__inner,
.list-dialog .el-dialog .el-input.is-disabled .el-input__inner,
.list-dialog .el-dialog .el-textarea .el-textarea__inner,
.list-dialog .el-dialog .el-textarea.is-disabled .el-textarea__inner {
  background: #F4F4F4;
  border: 0;
  border-bottom: 1px solid #D8D8D8;
}

.list-dialog .el-dialog .el-input__inner {
  color: #333;
}

.list-dialog .el-dialog__header {
  height: 64px;
  background: #328173;
  -webkit-box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0.5);
          box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0.5);
  border-radius: 4px 4px 0 0;
  font-size: 24px;
  padding-left: 20px;
  text-align: left;
}

.list-dialog .el-dialog__header .el-dialog__title {
  color: rgba(255, 255, 255, 0.88);
}

.list-dialog .el-dialog__header .el-dialog__close.el-icon.el-icon-close {
  color: #fff;
}

.list-dialog .dialog-tab > span {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  min-width: 64px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
}

.list-dialog .dialog-tab > span.active {
  background-color: #328173;
  color: #FFFFFF;
  border-radius: 4px;
}

.list-dialog .list-item-opearte {
  color: #3ebeb6;
  cursor: pointer;
}

.list-dialog .form-footer {
  width: 100%;
  height: 62px;
  line-height: 62px;
  border-top: 1px solid #EEEEEE;
  text-align: right;
  padding: 0 20px;
}

.list-dialog .el-table {
  margin-top: 20px;
}

.list-dialog .el-table th {
  background-color: #F9F9F9;
  color: rgba(0, 0, 0, 0.48);
}

.list-dialog .el-table tr {
  color: #000000;
}

.list-dialog .dialog-pagination {
  height: 30px;
  margin-top: 16px;
}

.list-dialog .el-upload.el-upload--text {
  width: 100%;
  margin-top: 24px;
}

.list-dialog .el-upload.el-upload--text .upload-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-dialog .el-upload.el-upload--text .upload-btn > span {
  font-size: 14px;
  color: #858585;
}

.list-dialog .el-upload__tip {
  font-size: 14px;
  color: #C6C6C6;
  margin-top: 8px;
}

.list-dialog .el-upload-list__item .el-upload-list__item-name:focus,
.list-dialog .el-upload-list__item .el-upload-list__item-name:hover,
.list-dialog .el-upload-list__item .el-upload-list__item-name {
  color: #333333;
}

.list-dialog .el-icon-close-tip {
  color: #328173;
}

.el-dialog__footer {
  padding: 0;
  font-size: 16px;
}

.el-dialog__footer .el-button {
  border: 0;
  border-radius: 0;
}

.el-dialog__footer .btn-cancel.el-button,
.el-dialog__footer .btn-cancel.el-button:focus,
.el-dialog__footer .btn-cancel.el-button:hover {
  color: #999999;
  background-color: transparent;
}

.el-dialog__footer .btn-save.el-button,
.el-dialog__footer .btn-save.el-button:focus,
.el-dialog__footer .btn-save.el-button:hover {
  color: #fff;
  background: #328173;
}
/*# sourceMappingURL=listDialog.css.map */