.main-header {
	width: 100%;
	padding: 0;
	user-select: none;
	position: absolute;
	top: 0;
	.main-header__content {
		z-index: 100;
		width: 100%;
		position: absolute;
		.main-header__content--menu {
			display: flex;
			justify-content: center;
			background: url(~assets/images/ScreenAsset/header-bg.png) no-repeat center;
			background-size: 100% 100%;
			height: 110px;
			width: 100%;
			z-index: 100;
			.menu__list {
				display: flex;
				margin-top: 24px;
				width: 50%;
				justify-content: space-around;
				.menu__list--item {
					cursor: pointer;
					width: 160px;
					height: 33px;
					line-height: 33px;
					font-size: 18px;
					color: #fff;
					opacity: 0.8;
					background-image: url(~assets/images/ScreenAsset/header-item-bg1.png);
					background-repeat: no-repeat;
					background-size: 100%;
					text-align: center;
					a{
						color: #fff;
						opacity: 0.8;
						display: inline-block;
						width:100%;
						height: 100%;
						text-align: center;
					}
					.menu-icon{
						display: inline-block;
						width: 18px;
						height: 18px;
						vertical-align: middle;
						position: relative;
						top: -2px;
						&.business-type{
							background: url(~assets/images/menu_icons/menu-business.png);
							background-size: 100% 100%;
						}
						&.map-type{
							background: url(~assets/images/menu_icons/menu-map.png);
							background-size: 100% 100%;
						}
						&.work-type{
							background: url(~assets/images/menu_icons/menu-work.png);
							background-size: 100% 100%;
						}
						&.sheet-type{
							background: url(~assets/images/menu_icons/menu-datasheet.png);
							background-size: 100% 100%;
						}
					}
					&:first-child {
						margin-left: 0;
					}
					&.active {
						opacity: 1;
						font-weight: bold;
						background-image: url(~assets/images/ScreenAsset/header-item-bg.png);
						a{
							color: #000;
						}
						.menu-icon{
							&.business-type{
								background: url(~assets/images/menu_icons/menu-bussiness-active.png);
								background-size: 100% 100%;
							}
							&.map-type{
								background: url(~assets/images/menu_icons/menu-map-active.png);
								background-size: 100% 100%;
							}
							&.work-type{
								background: url(~assets/images/menu_icons/menu-work-active.png);
								background-size: 100% 100%;
							}
							&.sheet-type{
								background: url(~assets/images/menu_icons/menu-datasheet-active.png);
								background-size: 100% 100%;
							}
						}
					}
				}
			}
			.menu__arrow {
				cursor: pointer;
				width: 22px;
				height: 20px;
				margin-top: 31px;
				&--left {
					background-image: url(~assets/images/ScreenAsset/header-arrow-left.png);
					background-repeat: no-repeat;
					background-size: 100%;
				}
				&--right {
					background-image: url(~assets/images/ScreenAsset/header-arrow-right.png);
					background-repeat: no-repeat;
					background-size: 100%;
				}
			}
		}
		.main-header__content--collaspe-btn {
			position: relative;
			.collapse-btn {
				cursor: pointer;
				width: 40px;
				height: 26px;
				margin: 0 auto;
				top: -10px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				&.up {
					background-image: url(~assets/images/ScreenAsset/header-arrow-up.png);
					background-size: 100%;
				}
				&.down {
					background-image: url(~assets/images/ScreenAsset/header-arrow-down.png);
					background-size: 100%;
					top:0
				}
			}
		}
	}
	.main-header__float {
		position: absolute;
		top: 0;
		width: 100%;
		.main-header__float--logo {
			position: absolute;
			top: 0;
			left: 0;
			width: 507px;
			height: 71px;
			z-index: 101;
			background-image: url(~assets/images/ScreenAsset/header-logo-bg.png);
			display: flex;
			align-items: center;
			background-size: 90% 100%;
			background-repeat: no-repeat;
			.logo {
				font-family: "YouSheBiaoTiHei";
				margin-left: 16px;
				font-size: 38px;
				color: #ffffff;
				letter-spacing: 2.21px;
				text-shadow: 0 0 20px rgba(0, 255, 249, 0.7);
				font-weight: 400;
			}
			.system-name {
				font-family: "YouSheBiaoTiHei";
				font-size: 24px;
				font-weight: bold;
				color: #fff;
				margin-left: 16px;
			}
		}
		.main-header__float--center {
			position: absolute;
			top: -43px;
			right: 0;
			z-index: 10;
			display: flex;
			color: #fff;
			width: 100%;
			height: 300px;
			opacity: 0.6;
			background-image: url(~assets/images/ScreenAsset/qiong-ding-tu.png);
			background-repeat: no-repeat;
			background-size: 100%;
		}
		.main-header__float--action {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 101;
			display: flex;
			color: #fff;
			.workplace {
				cursor: pointer;
				width: 112px;
				height: 33px;
				margin-top: 21px;
				padding-top: 11px;
				padding-left: 19px;
				font-size: 14px;
				background-image: url(~assets/images/ScreenAsset/workplace-bg.png);
				background-repeat: no-repeat;
				background-size: 100%;
			}
			.analysis {
				cursor: pointer;
				width: 186px;
				height: 75px;
				margin-top: 4.5px;
				margin-left: 26px;
				// margin-right: 26px;
				padding-top: 22px;
				padding-left: 20px;
				font-size: 14px;
				background-image: url(~assets/images/ScreenAsset/analysis-bg.png);
				background-repeat: no-repeat;
				background-size: 100%;
				text-align: center;
			}
			.notification {
				cursor: pointer;
				width: 51px;
				height: 34px;
				margin-top: 21px;
				// margin-right: 24px;
				background-image: url(~assets/images/ScreenAsset/notification.png);
				background-repeat: no-repeat;
				background-size: 100%;
			}
			.notification-warning {
				cursor: pointer;
				width: 51px;
				height: 34px;
				margin-top: 21px;
				margin-right: 24px;
				background-image: url(~assets/images/ScreenAsset/notification-warning.png);
				background-repeat: no-repeat;
				background-size: 100%;
			}
			.user-info{
				padding:0 16px;
				@include flexbox;
				@include flexAC;
				@include flexflow(row,nowrap);
				.user-icon{
					margin-right: 12px;
					width: 48px;
					height: 48px;
					background: url(~assets/images/default-user.png) no-repeat center center;
					background-size:100% 100%;
				}
			}
		}
	}
}
.popover-menu {
	border: 2px solid #1a5c7c;
	background-image: linear-gradient(to bottom, #061141, #0b2b50);
	color: #fff;
	min-width: unset;
	width: 120px;

	.popper__arrow {
		top: -10px !important;
		border-bottom-width: 10px;
		border-bottom-color: #1a5c7c !important;

		&::after {
			top: 3px !important;
			border-bottom-width: 10px;
			border-bottom-color: #061141 !important;
		}
	}
	.menu-list {
		i[class^="icon-"] {
			vertical-align: middle;
			margin-right: 6px;
		}
		li {
			cursor: pointer;
			padding: 3px 6px;

			&:hover {
				background-color: #0b2b50;
			}
		}
	}
}
