@charset "UTF-8";
/* 表格样式及修复 */
::v-deep .el-table {
  /* <el-table-column />的align 属性不知道为什么不正确 只能自己增加 */
}

::v-deep .el-table .is-left .cell {
  text-align: left;
}

::v-deep .cell-padding-0 .cell {
  padding: 0 2px;
}

::v-deep .cell-has-wrap .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  vertical-align: middle;
  line-height: 14px !important;
  padding: 0 2px;
  overflow: hidden;
}

.sidebar-list {
  color: #fff;
  height: 100%;
  margin-top: 10px;
}

.sidebar-list ::v-deep.el-carousel--horizontal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar-list ::v-deep.el-carousel__indicators {
  bottom: -12px;
}

.sidebar-list ::v-deep.el-carousel__indicators .el-carousel__indicator.is-active button {
  background-color: #1ef8f2;
}

.sidebar-list ::v-deep.el-carousel__button {
  padding: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.is-big-screen {
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.icon-sty {
  margin-right: 10px;
  vertical-align: text-bottom;
  color: #00c1ff;
}

.rainfall-style {
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(~assets/images/WaterDisastersImage/rainfall-bg.png) no-repeat top center;
  background-size: 100% 100%;
}

.rainfall-style > div .number {
  color: #1ef8f2;
  font-size: 22px;
}

.rainfall-style > p > span {
  font-size: 26px;
  color: #1CFFF5;
}

.reservoir-sty {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reservoir-sty > p {
  font-size: 16px;
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  width: 50%;
  line-height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reservoir-sty > p:nth-child(1) {
  margin-right: 30px;
  background: url(~assets/images/WaterDisastersImage/rainfall-bg.png) no-repeat top center;
  background-size: 100% 100%;
}

.reservoir-sty > p:nth-child(1) > span {
  font-size: 28px;
  color: #00c1ff;
  padding: 0 5px;
}

.reservoir-sty > p:nth-child(2) {
  background: url(~assets/images/WaterDisastersImage/rainfall-bg.png) no-repeat top center;
  background-size: 100% 100%;
}

.reservoir-sty > p:nth-child(2) > span {
  font-size: 28px;
  color: #eec80b;
  padding: 0 5px;
}

.area-style {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 193, 255, 0.2)), to(rgba(249, 249, 249, 0)));
  background-image: linear-gradient(90deg, rgba(0, 193, 255, 0.2) 0%, rgba(249, 249, 249, 0) 100%);
}

.area-style > p:nth-child(1) > i {
  vertical-align: text-top;
}

.area-style > p {
  color: #00c1ff;
}

.area-style > p > span {
  margin: 0 10px;
  color: #fff;
}
/*# sourceMappingURL=SildePanel.css.map */