@font-face {
	font-family: "YouSheBiaoTiHei";
	src: url("./font/YouSheBiaoTiHei-2.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "YouYaBiaoTiHei";
	src: url("./font/ysbth.TTF");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ziticqtezhanti";
	src: url("./font/ZiTiChuanQiTeZhanTi-MianFeiShangYong-2.ttf");
	font-weight: normal;
	font-style: normal;
}