$primaryColor: #48fff4;
$primaryBorderColor: #3ab378;
$primaryListColor: #02c064;
$primaryColorLight: #a0f1ec;
$sysPrimaryColor: #1492FF;
$primaryTabActiveColor: #48fff4;

//滑块颜色
$primarySliderColor: #00877a;

$primaryTabActiveColor: #48fff4;
$primaryTabActiveColor: #48fff4;
$primaryGradual: linear-gradient(180deg, #b4dd66 0%, #59c6b9 100%);
$warnGradual: linear-gradient(180deg, #ffc43c 0%, #ea3232 100%);
// 弹框
$primaryDialog: #328173;
$dialogBackground: #fff;
$dialogInputBackground: #f4f4f4;
$dialogInputBorder: #d8d8d8;
$dialogTabHeight: 28px;
$dialogTabWidth: 64px;
$dialogFontColor: #858585;
$dialogFooterBorder: #eeeeee;
$dialogFooterHeight: 62px;
$dialogTableBg: #f9f9f9;

$listItemOpeateColor: #3ebeb6;
