<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygkj.water.project.mapper.FloodPointMapper">

    <select id="candidateFloodPoints" resultType="com.ygkj.project.model.FloodPoint">
        SELECT DISTINCT(name) AS name,longitude,latitude,water_level,water_level_unit,area_name
        ,street_name,acquisition_time
        FROM flood_point
        WHERE id IN
        <foreach collection="codes" open="(" item="item" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY `name`
    </select>
</mapper>